%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  // background-color: lighten($color-primary, 10%);
  @include set-background(lighten($color-primary, 10%));
}

.btn-secondary {
  @extend %btn;
  // background-color: $color-secondary;
  @include set-background($color-secondary);
}
