$color-light: #f4f4f4;
$color-primary: #0e6cff;
$color-secondary: #ff8700;

$font-stack: Arial, Helvetica, sans-serif;

// set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return black;
  } @else {
    @return white;
  }
}

// set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
